@page
@model GroceryStore.Pages.ContactModel

@{
    ViewData["Title"] = "Contact";
}

<h1 class="contact-header">Contact Us</h1>
<form method="post">
    <div class="contact-container">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="left-container">
            <p>GROCER.ly</p>

            @if (TempData["Message"] != null)
            {
                <div class="message-sent">
                    @TempData["Message"]
                    <i class="fas fa-check-circle"></i>
                </div>     
            }

            <div class="form-image">
                <img class="contact-image" src="~/images/cart.png" />
            </div>
        </div>

        <div class="right-container">
            <label for="name" class="name">Name: </label>
            <span asp-validation-for="Customer.Name"></span>
            <input asp-for="Customer.Name" />

            <label for="number" class="number">Phone Number: </label>
            <input type="tel" asp-for="Customer.Number" />

            <label for="email" class="email">E-Mail: </label>
            <span asp-validation-for="Customer.Email"></span>
            <input asp-for="Customer.Email" />

            <label for="topic" class="topic">Topic: </label>
            <span asp-validation-for="Customer.Topic"></span>
            <input asp-for="Customer.Topic" />

            <div class="customer-message">
                <label for="message" class="Message">Message: </label>
                <span asp-validation-for="Customer.Text"></span>
                <br />
                <textarea asp-for="Customer.Text"></textarea>
            </div>
            <input id="submit" type="submit" />
        </div>
    </div>
</form>
