@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 id="store-name"><img class="big-cart" src="~/images/cart.png">Grocer.ly</h1>
    <p>Browse our inventory online and shop in-store! or check out some of our favourite recipes.</p>
</div>

<hr />

<section id="mysection" class="text-center">
    <ul>
        <li>
            <a class="home-list-text" asp-page="/Groceries">Groceries</a>
            <img id="home-list-icon" src=images/groceries.png>
        </li>

        <li>
            <a class="home-list-text" asp-page="/Recipes">Recipes</a>
            <img id="home-list-icon1" src=images/recipes.png>
        </li>

        <li>
            <a class="home-list-text" asp-page="/Contact">Contact Us</a>
            <img id="home-list-icon1" src=images/feedback.png>
        </li>
    </ul>
</section>

