/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Custom CSS Body Styles
-------------------------------------------------- */
body {
    background-color: #e0fbfc;
}

footer {
    background-color: white;
}

/* Details Page
-------------------------------------------------- */
#unit-price {
    display: none;
}

#cart {
    width: 140px;
    height: 120px;
}

#food-container {
    display: grid;
    align-items: center;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 4fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 4fr));
}

.food-item-image {
    width: 120px;
    height: 100px;
}

p#display-price {
    font-size: 1.25rem;
}

h1#store-name {
    color: #417F43;
    font-size: 2rem;
    font-weight: 600;
}

div#food-container {
    width: 95%;
    margin: auto;
}

img#big-food-icon {
    max-width: 200px;
}

.big-cart {
    max-width: 220px;
}

input#quantity {
    border: #C6B49D solid 1px;
}

#info-col {
    margin-top: 0.5rem;
    margin-left: 25px;
}

#button-col {
    margin-left: 30px
}

p.food-item-info {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

#food-price {
    width: 200px;
}

ul li {
    list-style: none;
}

.fa-chevron-left, .fa-info-circle {
    width: 1.5rem;
}

#mysection {
    font-size: 1rem;
    margin-top: 5rem;
    text-transform: uppercase;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    margin-left: 26%;
}

#mysection li {
    margin-bottom: 2rem;
}

.home-list-text:hover {
    font-size: 1.5rem;
    transition: font-size 2s;
}

#home-list-icon {
    width: 200px;
}

#home-list-icon1 {
    width: 170px;
    padding-left: 2.5rem;
}

/* Contacts Page
-------------------------------------------------- */
.field-validation-error {
    color: red;
}

form {
    overflow: hidden;
}

label {
    padding-left: 70px;
}

label.name, label.number, label.email, label.topic {
    padding-top: 15px;
}

.contact-container {
    display: flex;
    max-width: 800px;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 13%;
}

.left-container {
    overflow: hidden;
    padding: 40px 0 0 0;
    position: relative;
    width: 300px;
    background-color: #f1faee;
}

.left-container p {
    margin-top: 20px;
    display: inline-block;
    font-size: 24px;
    padding-left: 80px;
}

.right-container {
    background: #bfdbf7;
    width: 500px;
    height: 600px;
}

.contact-image {
    width: 200px;
    bottom: 0;
    position: absolute;
    padding-left: 60px;
}

.contact-header {
    text-align: center;
    font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 60px;
}

textarea:focus, input:focus {
    outline: none;
}

input {
    display: flex;
    width: 70%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #829cbc;
    background-color: transparent;
    margin-left: 70px;
    margin-top: -10px;
}

textarea {
    width: 70%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-left: 70px;
}

.customer-message {
    padding-top: 30px;
}

#submit {
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 5px;
    font: bold .7em sans-serif;
    border: 2px solid #333;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    margin-left: 33%;
    margin-top: 35px;
}

.message-sent {
    padding-top: 100px;
    margin-left: 29%;
}

/* Recipes Page
-------------------------------------------------- */













